*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.cdnfonts.com/css/valorant');

@font-face {

    font-family: 'VALORANT';
    src: url('https://fonts.cdnfonts.com/css/valorant');
    font-weight: normal;
    font-style: normal;

}

h1{
    font-family: 'VALORANT';
}

h2{
    font-family: 'VALORANT';  
}

button{

    font-family: 'VALORANT';
}

.barra-topo{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    background-color: black;
    height: 9vh;
}



.categoria:hover{
    background-color: red;
}

.logo {
    width: 100px;
    height: 100px;
}

#link-botao{
    text-decoration: none;
}

.login{
    margin-right: 30px;
    height: 40px;
    width: 120px;
    background-color: red;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.fundo{

        height: 100vh;
        width: 100vw;

}

.categorias{
    display: flex;
   
    height: 9vh;
    align-items: center;
    width: 80vw;
    justify-content: space-around;
}

.categoria{
    color: white;
    font-size: 20px;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 10vw;
}

.botao-categoria{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.botao-categoria-pressionado{

    color: white;
    font-size: 20px;
    background-color: red ;
    height: 9vh;
    display: flex;
    align-items: center;
   

}


body{

    background-color: #DCCBB5;

}


.exibirArma{

    width: 25vw;
    height: 40vh;
    background-color: #D9D9D9;
    opacity: 0.8;
    border-radius: 20px;
    margin-top: 10vh;
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.nomeArma{

    font-family: 'VALORANT';
    font-size: 40px;
    margin-top: 2vh;

}

.barrinha{

    background-color: black;
    width: 80%;

    height: 4px;

}

.arma{
    margin-top: 2vh;
    width: 50%;
    height: 50%;
    object-fit: scale-down
}

.texto{

    margin-top: 10px;
    font-size: 20px;
    margin-left:20px;
    margin-right:20px;
   

}



