*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.cdnfonts.com/css/valorant');

    @font-face {

    font-family: 'VALORANT';
    src: url('https://fonts.cdnfonts.com/css/valorant');
    font-weight: normal;
    font-style: normal;

}

h1{
    font-family: 'VALORANT';
}

h2{
    font-family: 'VALORANT';  
}

button{

font-family: 'VALORANT';
}

.nome{
    font-family: 'VALORANT';
}

.texto{
    font-family: 'Raleway', sans-serif;
}

.barra-topo{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    background-color: black;
    height: 9vh;
}



.categoria:hover{
    background-color: red;
}

.logo {
    width: 100px;
    height: 100px;
}

#link-botao{
    text-decoration: none;
}

.login{
    margin-right: 30px;
    height: 40px;
    width: 120px;
    background-color: red;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fundo{

        height: 100vh;
        width: 100vw;

}

.categorias{
    display: flex;
   
    height: 9vh;
    align-items: center;
    width: 80vw;
    justify-content: space-around;
}

.categoria{
    color: white;
    font-size: 20px;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 10vw;
}

.botao-categoria{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.botao-categoria-pressionado{

    color: white;
    font-size: 20px;
    background-color: red ;
    height: 9vh;
    display: flex;
    align-items: center;
   

}

.corpo{

    display: flex;
    padding-top: 2vh;
    align-items: center;
    flex-direction: column;
    background-color: #dccbb5;
    height: 100%;
}

.menu{
    position: fixed;
    right:  90vw;
    top: 20vh;
    background-color: #E9EAEC;
    height: 60%;
    border-radius: 2vh;
    
}


.menu-mapa{
    
    margin-bottom: 0.5vw;
    height: 5.78vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
   
    
}

.menu-mapa:hover{
    
   background-color: gray;
}

.menu-mapa p{
    font-weight: bold;
    color: black;
}

.menu a{
    text-decoration: none;
}



.imagem-mapa{
    padding-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.slide-wrapper{
    position: relative ;
    max-width: 50vw;
    margin: 0 auto;
    
    
}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0,75rem hsla(0, 0%, 0%, 0.25);
    overflow: hidden;
    border-radius: 50px;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start ;
    object-fit: cover;
   
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;

}

.slider-nav a:hover{
    opacity: 1;
}

.imagem{
    border-radius: 2vw;
}

.nome{

    font-size: 35px;
    margin-top: 1vh

}

.texto{

    margin-top: 1vh;
    margin-right: 10vw ;
    margin-left: 10vw ;
    font-size: 25px;
    text-align: center;
}

.espacinho{

    padding-top: 10vh;

}

  html {
    --top-spacing: 184px;
    scroll-padding-top: var(--top-spacing);
  }



 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

 :root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
 }
 .barrafinal {

    font-family: 'Inter' sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    
 }
 
 footer {
    width: 100%;
    color: var(--color-neutral-40);
 }

 .footer-link {
    text-decoration: none;
 }

 #footer_content {

    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 4rem 3.5rem;
 }

#footer_contacts {

    margin-bottom: 0.5rem;

 }

 #footer_social_media {
    
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem ;
 }

 #footer_social_media .footer-link {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
 }

.footer-list {

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {

    color: var(--color-neutral-30);
}

.footer-list .footer-link:hover {
    color: red;
}

#footer_subscribe {

    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {

    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {

    all: unset;
    padding: 0.75rem;
    width: 100%;

}

#input_group button {

    background-color: red;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 4px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {

    opacity: 0.8;
}

#footer_copyright {

    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width:768px) {

    #footer_content {
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}

@media screen and (max-width:426px) {

    #footer_content {
        grid-template-columns: repeat(1,1fr);
        padding: 3rem 2rem ;
    }
}