*{
    margin: 0;
    padding: 0;
}
.barra-topo{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    background-image: url("../site.valorant/figures/teladefundo.png");
    height: 7vw;
}

.titulo{
    color: red;
    font-size: 50px;
}


.logo {
    width: 150px;
    height: 150px;
}

.login{
    margin-right: 25px;
    height: 70px;
    width: 150px;
    background-color: red;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
}



