*{
    margin: 0;
    padding: 0;
}
    @import url('https://fonts.cdnfonts.com/css/valorant');

    @font-face {

    font-family: 'VALORANT';
    src: url('https://fonts.cdnfonts.com/css/valorant');
    font-weight: normal;
    font-style: normal;

}

h1{
    font-family: 'VALORANT';
}

h2{
    font-family: 'VALORANT';  
}

button{

font-family: 'VALORANT';
}

.barra-topo{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    background-color: black;
    height: 9vh;
}



.categoria:hover{
    background-color: red;
}

.logo {
    width: 100px;
    height: 100px;
}

#link-botao{
    text-decoration: none;
}

.login{
    margin-right: 30px;
    height: 40px;
    width: 120px;
    background-color: red;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fundo{

        position: relative;
        width: 100%;
        background: url(./figures/video/jett-valorant-moewalls-com.mp4);
        

}

.categorias{
    display: flex;
   
    height: 9vh;
    align-items: center;
    width: 80vw;
    justify-content: space-around;
}

.categoria{
    color: white;
    font-size: 20px;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 10vw;
}

.botao-categoria{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.botao-categoria-pressionado{

    color: white;
    font-size: 20px;
    background-color: red ;
    height: 9vh;
    display: flex;
    align-items: center;
   

}


