
body{

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../figures/fundologin2.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    
}

.caixa{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 20%;
}

fieldset{

    border: 3px solid  black;
}

legend{

    width: 150px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: black;
    
}

.inputcaixa{

    position: relative;
    font-style: italic;
}

.inputusuario{

   background-color: none;
   border: none;
   border-bottom: 1px solid black;
   outline: none;
   color: black;
   font-size: 15px;
   width: 100%;
   letter-spacing: 2px;
}

.labelinput{

    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputusuario:focus ~ .labelinput,
.inputusuario:valid ~ .labelinput{

    top:-20px;
    font-size: 12px;
    color: black;
}

#data_nascimento{

    border-color: black;
    padding: 8px;
    border-radius: 5px;
    width: 170px;
    outline: none;
    font-size: 15px;
}

#submit{

    padding: 12px;
    width: 100%;
    border-radius: 10px;
    color: white;
    background-color: black;
    font-size: 15px;
    cursor: pointer;
}

#buttonlogin{

    text-align: center;
    
}

.login{

    margin-left: 115px;
    color: black;
    border: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    cursor: pointer;
    
}

@media screen and (max-width:768px) {

    body{

        color: black;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(../figures/fundologin2.jpg);
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
    }

    .caixa{

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        width: 50%;
    }

     

}

@media screen and (max-width:426px) {

    body{

        color: black;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(../figures/fundo_Cell2.jpg);
        background-repeat: no-repeat;
        height: 100vh;
       
    }
 
}

